<h1>Guest</h1>

<p>Name: <%= @guest.name %></p>

<h2>Episodes</h2>

<% @guest.appearances.each do |appearance| %>
<p><%= link_to appearance.episode.date, episode_path %> | <%= appearance.rating %></p>
<% end %>