<h2><%= @guest.name%></h2>
<br>
<br>
<ul>
    <% @guest.appearances.each do |appearance| %>
        <li> Date: <% = appearance.episodes.date %> || Rating: <%= appearance.rating%> </li>
    <% end %>
</ul>