<h3> <%= @guest.name %> Show Page </h3>

<b> Episode List: </b><br>
  <ul> <% @guest.episodes.each do |ep| %>
    <li> <ul> Ep # <%= ep.number %> <li> Episode Air Date: <%= link_to ep.date, episode_path(ep) %></li> <li>rating: <%#=ep.appearances.find(episode_id == self.id).rating %> </li></ul><br>
    <% end %></ul>

    Ran out of time to circle back to the rating.<br>
    I know I need to Go into the appearance instance and find the episosode id that matches the guest id and find that appearance rating
