<h1>  <%= @guest.name %> </h1>
<hr>

<h3> All Episodes for this Guest: </h3>

<ul>
<% @guest.episodes.each do |e| %>
    <li> <b> Date: </b> <%= link_to e.date, episode_path(e) %> <b> Rating: </b> <%= e.show_rating %> </li>
    
<%end%>

</ul>

<%# Couldn't finish last advanced guest show page in time, but I know i had to create helper methods in models
# to connect the episodes and appearances and make methods to sort them by ratings and call that method or methods
# in show page.%>