<h1><%= @guest.name %></h1>
<h2><%= @guest.occupation %></h2>
<p>Appearances on:</p>
<ul><% @guest.appearances.sort_rating.each do |appearance| %>
<li>Date: <%=link_to appearance.episode.date, episode_path(appearance.episode) %>, Rating: <%= appearance.rating %></li>
<% end %></ul>