<% if flash[:success] %>
  <h1 style="color:blue;"><%= flash[:success] %></h1>
<% end %>

<h1>Episode <%= @episode.number %></h1>
<h2>Date: <%= @episode.date %></h2>
<h2> List of Guest Appearances: </h2>
<ul>
    <% @episode.guests.each do |e| %>
    <li><%= link_to e.name, guest_path(e) %></li>
    <% end %>
</ul>
